.header {
    display: flex;
    background: bisque;
    justify-content:  space-between;
   
    width: px;
    color: blue;
    margin: px;
    /* padding: 20px; */
    font-size: 30px;
    list-style: none;
  
}


