.Portfolio {
    background-color: coral;
    text-align: center;
    height: 2300px;
}

.work {
    display: flex;
     padding:5ch
   
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    outline: 4px solid red;
    background-image: url("../../assets/Images/protofio.png");
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-color: cornsilk;
   
}

#two {
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
    margin: 25px;
    width: 350px;
    height: 200px;
    background-image: url("../../assets/Images/javascript.png");

}

#three {
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/Api.png");

}

.work2 {
    display: flex;
     padding:5ch
}

#four{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/workday1.png");

}

#five{
    display: flex;
    outline: 4px solid red;
    color: azure;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/weather.png");
}

#six{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    color:crimson;
    font-weight: 500px;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/project1.jpg");
}
.work3 {
    display: flex;
     padding:5ch;
}

#seven{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/node.png");
}

#eight{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/team.png");
}

#nine{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/note.png");
}

.work4 {
    display: flex;
     padding:5ch;
}

#ten{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    color:azure;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/tracker.jpg");
}

#eleven{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    color: black;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: large;
    font-weight: 900;
    background-image: url("../../assets/Images/E.jpg");
}

#tewlve{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    font-weight: 700;
    background-image: url("../../assets/Images/mvc.png");
}

.work5{
    display: flex;
     padding:5ch;
}

#thirth{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/project2.jpg");
}

#fourth{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    font-weight: 700;
    background-image: url("../../assets/Images/nosql.jpg");
}

#fifth{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: large;
    font-weight: 700;
    background-image: url("../../assets/Images/pwa.jpg");
}


.work6 {
    display: flex;
     padding:5ch;
}

#sixt{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    font-weight: 700;
    background-image: url("../../assets/Images/react.jpg");
}

#seventee{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
}

#eightee{
    display: flex;
    outline: 4px solid red;
    background-color: cornsilk;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 350px;
    height: 200px;
    font-size: x-large;
    background-image: url("../../assets/Images/micheal.JPG");
    background-size: 300px 200px;


}
